rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    // Rules for 'users' collection
    match /users/{userId} {
      // Allow users to read their own data
      allow read: if isSignedIn() && isOwner(userId);

      // Allow users to create their own user document upon signup
      allow create: if isSignedIn() && isOwner(userId);
      
      // Allow admins to update user roles or statuses
      allow update: if isSignedIn() && getUserData().role == 'admin';
    }
    
    // Admins can read the entire 'users' collection
    match /users {
      allow list: if isSignedIn() && getUserData().role == 'admin';
    }

    // Rules for 'departments' collection
    match /departments/{departmentId} {
      // Allow admins to create new departments
      allow create: if isSignedIn() && getUserData().role == 'admin';
      
      // Allow any signed-in user to read department lists
      allow list, read: if isSignedIn();
    }
  }
}
